:root{
    --ripple-speed: 300ms;
    --ripple-fadeout: 500ms;
}

:root{
    --prime-color: wheat;
    --secondary-color: lightgray;
    --background-color: white;
    --text-and-icon-color: black;

    --touch-prevent-layer-color: rgba(0,0,255,0.2);
    --touch-prevent-layer-color: transparent;
}

:root{
    --bottom-bar-height: 70px;
    --top-bar-height: 70px;

    --layout-transitions-animation-delta-grow:0.2;
    --layout-transitions-animation-duration:120ms;

    --view-transitions-animation-delta-grow:0.02;
    --view-transitions-animation-duration:100ms;
}

html[theme="white"]{
    --ripple-color:rgba(0,0,0,0.2);

    --prime-color: wheat;
    --select-color: wheat;
    --secondary-color: lightgray;
    --background-color: white;
    --text-and-icon-color: black;
}

html[theme="black"]{
    --ripple-color:rgba(255,255,255,0.15);
    
    --prime-color: transparent;
    --select-color: #013356;
    --secondary-color: #0d0d0d;
    --background-color: black;
    --text-and-icon-color: #dfdfdf;
}