.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;

    position: relative;
}

.overlay{
    position: absolute;
    inset: 0;
    background-color: var(--touch-prevent-layer-color,transparent);

    display: none;
}

:host([locked]) .overlay{
    display: block;
}